.main{
    min-height: 700px;
}
/*设置文字内容显示*/
.contents{
    display: none;
}

.contents p{
    text-indent: 2em;
    text-align: left;
}
.contents h2{
    margin-bottom: 20px;
}
.contents .author{
    width: 90%;
    text-align: right;
}
/*设置底部footer*/
footer{
    margin-top: 50px;
    background: #2B303B;
    color: #848e99;
    border-top: 1px solid #E5E5E5;
    padding: 15px 0;
    text-align: center;
}
/*设置logo */
.logo{
    /*background: url("../images/nanshansong.png") no-repeat;*/
    text-indent: -9999px;
    background-size: auto 100%;
    cursor: default;
}

ul.list-group.col-sm-2 {
    margin-top: 100px;
}